.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--bg-color-secondary);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-icon {
  width: 70px;
  height: 70px;
}

.features-list {
  display: flex;

  &-item {
    width: 270px;
    height: auto;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--description-color);
  }
}
