.mailing-btn {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding-right: 62px;
  padding-left: 29px;

  background: #2196f3;
  color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-button-color);
  }
}

.mailing-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
