.modal-form {
  margin-top: 12px;
}

.form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-and-nav-font-color);
}

.modal-field-wrapper {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.user-data-wrapper {
  margin-bottom: 20px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--description-color);
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--accent-color);
    cursor: pointer;
  }

  &-wrapper {
    display: block;
    position: relative;
  }
}

.user-data-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.comment-field {
  height: 120px;
  resize: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: var(--logo-studio-header-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;

  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.667;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.policy-wrapper {
  width: 425px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.policy-link {
  color: var(--accent-color);
}

.checkbox-label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-color);

  &::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-and-nav-font-color);
    border-radius: 2px;
    margin-right: 8px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .agreement-check:focus ~ & {
      box-shadow: 0 0 0 2px var(--accent-color);
    }

    .agreement-check:checked ~ & {
      background-color: var(--accent-color);
      background-image: url(../images/icon-check.svg);
      background-size: contain;
      background-origin: border-box;
      border: 1px solid var(--accent-color);
    }
  }
}

.agreement-check {
  position: absolute;
}
