.social-footer-container {
  width: 206px;
  padding-top: 12px;
  margin-right: 93px;
}

.invite {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.social-link-link {
  background-color: var(--social-link-footer-color);
}

.dark {
  fill: var(--main-color);
}
