:root {
  --main-color: #ffffff;
  --logo-studio-header-color: #000000;
  --header-hero-footer-bg-color: #2f303a;
  --accent-color: #2196f3;
  --description-color: #757575;
  --title-and-nav-font-color: #212121;
  --bg-color-secondary: #f5f4fa;
  --common-font-size: 16px;
  --contact-footer-color: #ffffff99;
  --border-header-color: #ececec;
  --border-items-color: #eeeeee;
  --hover-button-color: #188ce8;
  --social-link-primary-color: #afb1b8;
  --social-link-footer-color: rgba(255, 255, 255, 0.1);
}
